In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
import warnings

In [6]:
warnings.filterwarnings("ignore")

In [7]:
import gc

In [8]:
prop_2016 = pd.read_csv('data/properties_2016.csv')

In [9]:
prop_2016.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

In [10]:
prop_2017 = pd.read_csv('data/properties_2017.csv')

In [11]:
prop_2017.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN

In [12]:
len(prop_2016), len(prop_2017)

(2985217, 2985217)

## Join with target variable

In [13]:
target_2016 = pd.read_csv('data/train_2016_v2.csv')

In [14]:
target_2017 = pd.read_csv('data/train_2017.csv')

In [15]:
target_2017.head()

   parcelid  logerror transactiondate
0  14297519  0.025595      2017-01-01
1  17052889  0.055619      2017-01-01
2  14186244  0.005383      2017-01-01
3  12177905 -0.103410      2017-01-01
4  10887214  0.006940      2017-01-01

In [16]:
joined_data_2016 = pd.merge(target_2016,prop_2016,on="parcelid",how="left")

In [17]:
joined_data_2017 = pd.merge(target_2017, prop_2017,on='parcelid',how='left')

In [18]:
joined_data_2017.head()

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,14297519,0.025595,2017-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,...,NaN,NaN,485713.0,1023282.0,2016.0,537569.0,11013.72,NaN,NaN,6.059063e+13
1,17052889,0.055619,2017-01-01,NaN,NaN,NaN,1.0,2.0,NaN,NaN,...,1.0,NaN,88000.0,464000.0,2016.0,376000.0,5672.48,NaN,NaN,6.111001e+13
2,14186244,0.005383,2017-01-01,NaN,NaN,NaN,2.0,3.0,NaN,NaN,...,1.0,NaN,85289.0,564778.0,2016.0,479489.0,6488.30,NaN,NaN,6.059022e+13
3,12177905,-0.103410,2017-01-01,NaN,NaN,NaN,3.0,4.0,NaN,8.0,...,NaN,NaN,108918.0,145143.0,2016.0,36225.0,1777.51,NaN,NaN,6.037300e+13
4,10887214,0.006940,2017-01-01,1.0,NaN,NaN,3.0,3.0,NaN,8.0,...,NaN,NaN,73681.0,119407.0,2016.0,45726.0,1533.89,NaN,NaN,6.037124e+13

## Save memory

In [20]:
for df in [joined_data_2016,joined_data_2017]:
    for c, dtype in zip(df.columns, df.dtypes):
        if dtype == np.float64:
            df[c] = df[c].astype(np.float32)

In [25]:

del target_2016
del target_2017
del prop_2016
del prop_2017

gc.collect()

260

In [26]:
len(joined_data_2017), len(joined_data_2016)

(77613, 90275)

In [27]:
joined_data_2016.transactiondate = pd.to_datetime(joined_data_2016.transactiondate,format="%Y-%m-%d")

In [28]:
joined_data_2017.transactiondate = pd.to_datetime(joined_data_2017.transactiondate,format="%Y-%m-%d")

## Columns to drop

In [29]:
drop_nulls_cols=['garagetotalsqft',	
'garagecarcnt',	
'numberofstories',	
'poolcnt',	
'threequarterbathnbr',	
'fireplacecnt',	
'finishedfloor1squarefeet',
'finishedsquarefeet50',
'finishedsquarefeet15',
'finishedsquarefeet12',              
'yardbuildingsqft17',	
'poolsizesum',	
'finishedsquarefeet6',	
'yardbuildingsqft26',	
'basementsqft',	
'finishedsquarefeet13',
'assessmentyear',
'calculatedbathnbr',
'parcelid',
]	
joined_data_2016 = joined_data_2016.drop(drop_nulls_cols,axis=1)
joined_data_2017 = joined_data_2017.drop(drop_nulls_cols,axis=1)

In [30]:
joined_data = pd.concat([joined_data_2016,joined_data_2017])

In [31]:
len(joined_data)

167888

### Did things change?

In [32]:
joined_data=joined_data.drop_duplicates()

In [33]:
len(joined_data)

167884

In [34]:
joined_data['transaction_mth'] = joined_data.transactiondate.apply(lambda x:x.month)

In [35]:
joined_data['transaction_yr'] = joined_data.transactiondate.apply(lambda x: x.year)

In [36]:
joined_data['transaction_day_of_wk'] = joined_data.transactiondate.apply(lambda x: x.dayofweek)

In [37]:
joined_data=joined_data.drop('transactiondate',axis=1)

In [38]:
joined_data.head()

,logerror,airconditioningtypeid,architecturalstyletypeid,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,decktypeid,calculatedfinishedsquarefeet,fips,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,transaction_mth,transaction_yr,transaction_day_of_wk
0,0.0276,1.0,NaN,2.0,3.0,NaN,4.0,NaN,1684.0,6037.0,...,122754.0,360170.0,237416.0,6735.879883,NaN,NaN,6.037107e+13,1,2016,4
1,-0.1684,NaN,NaN,3.5,4.0,NaN,NaN,NaN,2263.0,6059.0,...,346458.0,585529.0,239071.0,10153.019531,NaN,NaN,NaN,1,2016,4
2,-0.0040,1.0,NaN,3.0,2.0,NaN,4.0,NaN,2217.0,6037.0,...,61994.0,119906.0,57912.0,11484.480469,NaN,NaN,6.037464e+13,1,2016,4
3,0.0218,1.0,NaN,2.0,2.0,NaN,4.0,NaN,839.0,6037.0,...,171518.0,244880.0,73362.0,3048.739990,NaN,NaN,6.037296e+13,1,2016,5
4,-0.0050,NaN,NaN,2.5,4.0,NaN,NaN,NaN,2283.0,6059.0,...,169574.0,434551.0,264977.0,5488.959961,NaN,NaN,6.059042e+13,1,2016,5

In [39]:
from sklearn.model_selection import train_test_split

In [350]:
train, test = train_test_split(joined_data, test_size=0.2,random_state=4)

In [56]:
len(train),len(test)

(134307, 33577)

In [57]:
train.head()

,logerror,airconditioningtypeid,architecturalstyletypeid,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,decktypeid,calculatedfinishedsquarefeet,fips,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,transaction_mth,transaction_yr,transaction_day_of_wk
11695,0.025700,NaN,NaN,2.5,3.0,NaN,NaN,NaN,1470.0,6059.0,...,178209.0,512265.0,334056.0,7332.600098,NaN,NaN,6.059032e+13,2,2016,3
90140,-0.054500,1.0,NaN,2.0,3.0,NaN,4.0,NaN,1096.0,6037.0,...,110000.0,485000.0,375000.0,5756.660156,NaN,NaN,6.037703e+13,12,2016,3
31009,0.061324,NaN,NaN,1.0,4.0,NaN,4.0,NaN,1184.0,6037.0,...,108330.0,299238.0,190908.0,4348.799805,NaN,NaN,6.037540e+13,4,2017,4
13347,-0.034105,NaN,NaN,3.0,4.0,NaN,8.0,NaN,2155.0,6037.0,...,209293.0,302897.0,93604.0,4218.200195,NaN,NaN,6.037543e+13,2,2017,1
73221,-0.009000,NaN,NaN,1.0,2.0,NaN,7.0,NaN,1171.0,6037.0,...,59324.0,296828.0,237504.0,4103.850098,NaN,NaN,6.037502e+13,9,2016,4

## Numeric Columns

In [58]:
numeric_cols = ['logerror', 'basementsqft',	'bathroomcnt',	'bedroomcnt',	'calculatedbathnbr', 
                'calculatedfinishedsquarefeet',	'finishedfloor1squarefeet',	'finishedsquarefeet12',
                'finishedsquarefeet13',	'finishedsquarefeet15',	'finishedsquarefeet50',	'finishedsquarefeet6',
                'fireplacecnt',	'fullbathcnt',	'garagecarcnt',	'garagetotalsqft',	'landtaxvaluedollarcnt',
                'lotsizesquarefeet',	'numberofstories',	'poolcnt',	'poolsizesum',	'roomcnt',
                'structuretaxvaluedollarcnt',	'taxamount',	'taxvaluedollarcnt',	'threequarterbathnbr',
                'unitcnt',	'yardbuildingsqft17',	'yardbuildingsqft26','transaction_day_of_wk','transaction_mth','transaction_yr',
               'taxdelinquencyyear','yearbuilt','latitude','longitude']

num_cols = list(set(numeric_cols) - set(drop_nulls_cols))

## Fill in NAs with median

In [59]:
for col in num_cols:
    train[col] = train[col].fillna(train[col].median())

In [266]:
categorical_cols = list(set(train.columns) - set(numeric_cols))

## Sample

In [351]:
train = train.sample(frac=0.1)

## Feature importance on Numeric Columns

In [62]:
X_train = train[num_cols].drop('logerror', axis=1)

In [63]:
train.shape

(13431, 43)

In [64]:
Y_train = train['logerror']

In [65]:
from sklearn.ensemble import RandomForestRegressor

In [66]:
rf_feat = RandomForestRegressor(n_jobs=-1,criterion='mae', random_state=4)

In [67]:
import time

In [68]:
start = time.time()

rf_feat.fit(X_train,Y_train)

stop = time.time()

In [69]:
print("Elapsed_time: {}".format(stop - start))

Elapsed_time: 143.27944993972778

In [46]:
# When we use 1,343 observations
for numeric_feature, score in sorted(zip(rf_feat.feature_importances_,X_train.columns),reverse=True):
    print(numeric_feature, score)

0.121184768123 calculatedfinishedsquarefeet
0.11459088064 yearbuilt
0.109009929748 latitude
0.0869595053764 lotsizesquarefeet
0.0776987705731 landtaxvaluedollarcnt
0.077505588674 taxamount
0.0772508093351 longitude
0.0701180762111 structuretaxvaluedollarcnt
0.0662174961851 taxvaluedollarcnt
0.053085645884 transaction_mth
0.0354851995409 bedroomcnt
0.0331595336364 transaction_day_of_wk
0.0248484607795 bathroomcnt
0.0142210323165 fullbathcnt
0.0137335767679 unitcnt
0.0109381348019 roomcnt
0.00938145300279 transaction_yr
0.00461113840477 taxdelinquencyyear

In [70]:
# When we use 13,431 observations
for numeric_feature, score in sorted(zip(rf_feat.feature_importances_,X_train.columns),reverse=True):
    print(numeric_feature, score)

0.103069195882 latitude
0.101764362358 calculatedfinishedsquarefeet
0.0978833325955 structuretaxvaluedollarcnt
0.0959586226035 lotsizesquarefeet
0.092407523243 longitude
0.0901779438988 yearbuilt
0.0831082388268 landtaxvaluedollarcnt
0.0809190633788 taxamount
0.0678304121784 taxvaluedollarcnt
0.046095367859 transaction_mth
0.0329306992126 transaction_day_of_wk
0.0316094558022 bedroomcnt
0.018768026539 bathroomcnt
0.015939751723 roomcnt
0.0126145581201 fullbathcnt
0.0106861516444 taxdelinquencyyear
0.00911907811127 unitcnt
0.00911821602406 transaction_yr

In [50]:
len(train)

134307

In [52]:
train.to_csv('data/train.csv', index=False)

In [53]:
test.to_csv('data/test.csv', index=False)

## Categorical variables

In [267]:
train[categorical_cols].head()

,regionidneighborhood,propertylandusetypeid,taxdelinquencyflag,heatingorsystemtypeid,buildingclasstypeid,censustractandblock,hashottuborspa,pooltypeid10,architecturalstyletypeid,propertyzoningdesc,...,decktypeid,rawcensustractandblock,regionidzip,airconditioningtypeid,pooltypeid2,regionidcounty,fips,propertycountylandusecode,fireplaceflag,storytypeid
10260,NaN,261.0,NaN,NaN,NaN,6.111007e+13,NaN,NaN,NaN,NaN,...,NaN,61110076.0,96393.0,NaN,NaN,2061.0,6111.0,1111,NaN,NaN
84174,NaN,261.0,NaN,NaN,NaN,6.111005e+13,NaN,NaN,NaN,NaN,...,NaN,61110052.0,97089.0,NaN,NaN,2061.0,6111.0,1111,NaN,NaN
24459,272933.0,266.0,NaN,7.0,NaN,6.037577e+13,NaN,NaN,NaN,LBR34,...,NaN,60375772.0,96246.0,NaN,NaN,3101.0,6037.0,010E,NaN,NaN
67520,NaN,261.0,NaN,NaN,NaN,6.059088e+13,NaN,NaN,NaN,NaN,...,NaN,60590880.0,97048.0,NaN,NaN,1286.0,6059.0,122,NaN,NaN
52747,NaN,261.0,NaN,2.0,NaN,6.037901e+13,NaN,NaN,NaN,LRR1*,...,NaN,60379004.0,97318.0,1.0,NaN,3101.0,6037.0,010M,NaN,NaN

*propertyzoningdesc* is text, let's exclude it for now.

In [268]:
categorical_cols.remove('propertyzoningdesc')

## Fill missing values with most frequent occurrence

In [352]:
train['fireplaceflag'].isnull().sum()

13387

In [353]:
train['fireplaceflag'].isnull().sum()

13387

In [354]:
train['storytypeid'].isnull().sum()

13422

In [355]:
categorical_cols = [
    item for item in categorical_cols
                    if item not in ['buildingclasstypeid','fireplaceflag','storytypeid']
]

In [356]:
train['hashottuborspa']=train['hashottuborspa'].apply(lambda x: 1 if x == 'True' else 0)

In [357]:
cat_train = train[categorical_cols].copy()
for col in categorical_cols:
    # otherwise it will fill the entire column with one entry
    if len(train[col].unique()) == 2:
        print("<2",col)
        if cat_train[col].dtype in [np.float32, np.float64,np.int32,np.int64]:
            cat_train[col]=cat_train[col].fillna(0)
        else:
            cat_train[col]=cat_train[col].fillna('no')
    else:
        print(col)
        cat_train[col]=cat_train[col].fillna(cat_train[col].value_counts().index[0])

propertylandusetypeid
<2 taxdelinquencyflag
heatingorsystemtypeid
hashottuborspa
<2 pooltypeid10
architecturalstyletypeid
<2 pooltypeid7
buildingqualitytypeid
typeconstructiontypeid
<2 decktypeid
airconditioningtypeid
<2 pooltypeid2
fips
propertycountylandusecode

In [358]:
categorical_cols.remove('rawcensustractandblock')

ValueError: list.remove(x): x not in list

In [359]:
categorical_cols.remove('censustractandblock')

ValueError: list.remove(x): x not in list

In [360]:
cat_train[categorical_cols].head()

,propertylandusetypeid,taxdelinquencyflag,heatingorsystemtypeid,hashottuborspa,pooltypeid10,architecturalstyletypeid,pooltypeid7,buildingqualitytypeid,typeconstructiontypeid,decktypeid,airconditioningtypeid,pooltypeid2,fips,propertycountylandusecode
4546,261.0,no,2.0,0,0.0,7.0,0.0,7.0,6.0,0.0,1.0,0.0,6059.0,122
35673,269.0,no,2.0,0,0.0,7.0,0.0,8.0,6.0,0.0,1.0,0.0,6037.0,010D
72370,261.0,no,2.0,0,0.0,7.0,0.0,6.0,6.0,0.0,1.0,0.0,6037.0,0100
66108,261.0,no,7.0,0,0.0,7.0,0.0,7.0,6.0,0.0,1.0,0.0,6037.0,0100
24882,261.0,no,7.0,0,0.0,7.0,0.0,7.0,6.0,0.0,1.0,0.0,6037.0,0100

## Let's remove place information since we have lat-long coordinates

In [361]:
categorical_cols = [item for item in categorical_cols
                    if item not in ['regionidzip','regionidcounty','regionidcity','regionidneighborhood','regionidneighborhood'] 
                   ]

In [362]:
cat_train[categorical_cols].head()

,propertylandusetypeid,taxdelinquencyflag,heatingorsystemtypeid,hashottuborspa,pooltypeid10,architecturalstyletypeid,pooltypeid7,buildingqualitytypeid,typeconstructiontypeid,decktypeid,airconditioningtypeid,pooltypeid2,fips,propertycountylandusecode
4546,261.0,no,2.0,0,0.0,7.0,0.0,7.0,6.0,0.0,1.0,0.0,6059.0,122
35673,269.0,no,2.0,0,0.0,7.0,0.0,8.0,6.0,0.0,1.0,0.0,6037.0,010D
72370,261.0,no,2.0,0,0.0,7.0,0.0,6.0,6.0,0.0,1.0,0.0,6037.0,0100
66108,261.0,no,7.0,0,0.0,7.0,0.0,7.0,6.0,0.0,1.0,0.0,6037.0,0100
24882,261.0,no,7.0,0,0.0,7.0,0.0,7.0,6.0,0.0,1.0,0.0,6037.0,0100

In [363]:
cat_train = cat_train[categorical_cols]

In [364]:
for col in categorical_cols:
    cat_train[col]=cat_train[col].apply(lambda x: str(x))

cat_dummies = pd.get_dummies(cat_train[categorical_cols])

In [365]:
cat_dummies.values.shape

(13431, 111)

In [366]:
rf_feat = RandomForestRegressor(n_jobs=-1,criterion='mae', random_state=4)

In [367]:
len(cat_dummies), len(Y_train)

(13431, 13431)

In [369]:
rf_feat.fit(cat_dummies, Y_train)

RandomForestRegressor(bootstrap=True, criterion='mae', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=-1, oob_score=False, random_state=4,
           verbose=0, warm_start=False)

In [370]:
# When we use 13,431 observations
for numeric_feature, score in sorted(zip(rf_feat.feature_importances_,cat_dummies.columns),reverse=True):
    print(numeric_feature, score)

0.0500310256548 buildingqualitytypeid_6.0
0.0485246494738 buildingqualitytypeid_7.0
0.0474330619922 pooltypeid7_0.0
0.0466450380465 pooltypeid7_1.0
0.0433269630733 heatingorsystemtypeid_2.0
0.0430346988274 buildingqualitytypeid_4.0
0.0377993741207 heatingorsystemtypeid_7.0
0.0373466889606 propertycountylandusecode_0104
0.0303585130685 buildingqualitytypeid_1.0
0.0296816051323 propertycountylandusecode_0101
0.0232209371462 buildingqualitytypeid_10.0
0.0221818055156 propertycountylandusecode_0108
0.0214576083778 buildingqualitytypeid_9.0
0.0205139568749 buildingqualitytypeid_8.0
0.0172741941008 propertycountylandusecode_010C
0.0171657390152 propertycountylandusecode_01DC
0.0169104802621 propertycountylandusecode_010E
0.0153101842765 buildingqualitytypeid_5.0
0.0149530413305 propertycountylandusecode_0103
0.0149215285264 propertycountylandusecode_0100
0.0129507698178 buildingqualitytypeid_12.0
0.0127672766358 propertycountylandusecode_1
0.0125370187351 taxdelinquencyflag_Y
0.0114910776527 propertylandusetypeid_261.0
0.0114261237607 taxdelinquencyflag_no
0.0111304484212 propertycountylandusecode_1116
0.0111004774064 heatingorsystemtypeid_10.0
0.0104822469819 pooltypeid10_0.0
0.0104507976175 buildingqualitytypeid_11.0
0.0103987404427 airconditioningtypeid_1.0
0.00991773175324 heatingorsystemtypeid_6.0
0.00981289925954 propertycountylandusecode_010
0.00925325369811 propertylandusetypeid_269.0
0.0089601553128 propertycountylandusecode_0201
0.00850679786747 propertylandusetypeid_266.0
0.00826606780129 buildingqualitytypeid_2.0
0.00792553685046 propertycountylandusecode_122
0.00769802076954 propertycountylandusecode_010D
0.00769622572654 propertycountylandusecode_34
0.0076897715122 airconditioningtypeid_11.0
0.00759314796887 buildingqualitytypeid_3.0
0.007416935132 airconditioningtypeid_13.0
0.00734884981939 propertylandusetypeid_263.0
0.0071485772372 propertycountylandusecode_0301
0.00713833189212 propertylandusetypeid_246.0
0.00693189136245 heatingorsystemtypeid_24.0
0.00631164016338 propertycountylandusecode_010H
0.00627301853851 propertycountylandusecode_0300
0.0053656139472 propertycountylandusecode_01HC
0.00532169258805 pooltypeid10_1.0
0.00503223073421 propertycountylandusecode_0700
0.00500447180311 propertylandusetypeid_248.0
0.00497108203885 heatingorsystemtypeid_20.0
0.0048871456775 propertycountylandusecode_0109
0.00485006784213 propertycountylandusecode_010G
0.00475707186743 propertycountylandusecode_1129
0.00474900646054 decktypeid_66.0
0.00466464769339 propertycountylandusecode_010M
0.00452457623586 propertycountylandusecode_0200
0.00438694884294 propertycountylandusecode_012C
0.00432191556811 propertycountylandusecode_1111
0.00414742518054 propertycountylandusecode_1012
0.00408987503544 decktypeid_0.0
0.00377921289346 propertycountylandusecode_1310
0.00357514936013 fips_6037.0
0.00356156131877 propertylandusetypeid_247.0
0.00338322471223 propertycountylandusecode_73
0.00325287236703 airconditioningtypeid_5.0
0.00316529715269 propertycountylandusecode_1110
0.00316159960945 propertycountylandusecode_1720
0.00296907880138 pooltypeid2_1.0
0.00282531825804 propertycountylandusecode_38
0.00279819916139 pooltypeid2_0.0
0.00258659831539 heatingorsystemtypeid_1.0
0.0024902501182 propertycountylandusecode_8800
0.00247638664517 propertylandusetypeid_267.0
0.00240808247999 architecturalstyletypeid_8.0
0.00235924384384 propertycountylandusecode_070D
0.00204432717431 heatingorsystemtypeid_18.0
0.0020322616409 propertycountylandusecode_96
0.00201914126012 propertycountylandusecode_1128
0.00199539852205 propertycountylandusecode_010F
0.00188950245232 propertycountylandusecode_0400
0.00162780344891 propertycountylandusecode_0401
0.00159451446584 propertylandusetypeid_265.0
0.00144191946213 heatingorsystemtypeid_13.0
0.0014225825375 propertycountylandusecode_012E
0.00137631512313 propertylandusetypeid_264.0
0.00136780642598 fips_6111.0
0.00122721063706 architecturalstyletypeid_2.0
0.00119392173355 propertylandusetypeid_31.0
0.00118031575577 airconditioningtypeid_9.0
0.000996520291317 architecturalstyletypeid_21.0
0.000967829894053 propertylandusetypeid_260.0
0.000967250388593 architecturalstyletypeid_7.0
0.00095741740564 typeconstructiontypeid_6.0
0.000643719435971 propertycountylandusecode_1014
0.00056331826079 propertycountylandusecode_1410
0.000554465468753 propertycountylandusecode_1210
0.000548343348874 propertycountylandusecode_01HE
0.000360590982294 typeconstructiontypeid_4.0
0.000282599150914 propertycountylandusecode_010V
0.000232417943888 propertycountylandusecode_010L
0.000217301653882 typeconstructiontypeid_10.0
0.000182913496102 propertycountylandusecode_1117
0.000139695240047 propertycountylandusecode_020G
0.000133508084476 propertycountylandusecode_1222
0.000122137375125 propertylandusetypeid_275.0
9.67532622879e-05 propertycountylandusecode_135
0.0 hashottuborspa_0
-0.000960572788118 fips_6059.0